@use '../../../styles.scss' as global-styles;

.flex-center {
    @include global-styles.flex();
    width: 100%;
}

.flex-column {
  @include global-styles.flex(center, center, column);
  width: 100%;
  z-index: 1;
  margin-top: -10px;
  color: global-styles.$title-color;

  @media (min-width: 1000px) {
    display: none;
  }

}

.flex-between {
  @include global-styles.flex(space-between, center, row);
}

.about-container{
    z-index: 1;
    margin-top: 50px;
    width: 100%;

}

.main-content{
    grid-area: main-content;
    border: 1px solid global-styles.$box-border-color;
    min-height: 40vh;
    background-image: url('/assets/Me/stefanbackground.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    border-radius: 10px;
    margin: 20px;
    z-index: 2;
  h1{
    font-size: 1.2rem;
    font-weight: 700;
    color: global-styles.$title-color;
    text-align: start;
    margin: 0;
    padding: 8px;
    max-width: 70%;
    margin-bottom: 14%;
    max-width: 50%;

    @media (min-width: 550px) {
      font-size: 1.5rem;
    }

    @media (min-width: 1000px) {
      font-size: 2rem;
      margin-left: 20px;
      margin-bottom: 9%;
      z-index: 15;
    }
  }

  @media (min-width: 1000px) {
      width: 60vw;
      margin-right: 10px;
      margin-bottom: 10px;
      margin-left: 10px;
    }
    
  }

.technologies-content{
  grid-area: technologies-content;
  border: 1px solid global-styles.$box-border-color;
  height: 25vh;
  background-color: global-styles.$background-color;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  overflow: hidden;
  margin: 20px;

  @media (min-width: 1000px) {
    margin-left: 0;
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.links-content{
  grid-area: links-content;
  border: 1px solid global-styles.$box-border-color;
  min-height: 25vh;
  background-image: url('/assets/background/grid-pattern.svg');
  background-position: contain;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  margin-top: 20px;
  background-color: global-styles.$box-background-color;
  margin: 20px;
  a{
    width: 12%;
  }

  img{
    width: 100%;

    &:hover{
      transform: scale(1.1);
      transition: transform 0.3s;
    }
  }
}

.future-content{
  grid-area: future-content;
  border: 1px solid global-styles.$box-border-color;
  min-height: 35vh;
  background-image: url('/assets/background/grid-pattern.svg');
  background-position: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-top: 20px;
  background-color: global-styles.$box-background-color;
  margin: 20px;

    @media (min-width: 1000px) {
      width: 60vw;
      margin-right: 10px;
      margin-left: 10px;
      margin-bottom: 10px;
      margin-top: 0;
    }

  img{
    width: 50%;
    height: 35vh;
    object-fit: contain;
    border-radius: 10px;
  }
}

.contact-content{
  grid-area: contact-content;
    border: 1px solid global-styles.$box-border-color;
    min-height: 25vh;
    background-image: url(/assets/background/contact-pre.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    margin-top: 20px;
    background-color: global-styles.$background-color;
    margin: 20px;

        @media (min-width: 1000px) {
      margin-right: 0;
      margin-bottom: 10px;
      margin-left: 10px;
      margin-top: 0;
    }

h2{
    font-size: 1.2rem;
    font-weight: 700;
    color: global-styles.$title-color;
    text-align: start;
    margin: 0;
    padding: 8px;
    max-width: 70%;
    margin-bottom: 20px;

        @media (min-width: 350px) {
      font-size: 1.2rem;
    }

    @media (min-width: 550px) {
      font-size: 1.5rem;
    }

    @media (min-width: 800px) {
      font-size: 1.8rem;
    }
  }

  a{
    text-decoration: none;
    color: global-styles.$primary-color;
    padding: 12px 16px;
    border: 1px solid global-styles.$primary-color;
    border-radius: 5px;
    transition: background-color 0.3s;

    &:hover{
      background-color: global-styles.$primary-color-hover;
    }

    @media (min-width: 800px) {
      font-size: 1.2rem;
    }
  }
}

.cv-content{
  grid-area: cv-content;
    border: 1px solid global-styles.$box-border-color;
    min-height: 25vh;
    background-image: url('/assets/background/grid-pattern.svg');
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    margin-top: 20px;
    background-color: global-styles.$box-background-color;
    margin: 20px;

    @media (min-width: 1000px) {
      width: 38vw;
      margin-left: 0;
      margin-bottom: 10px;
      margin-right: 10px;
    }
  h2{
    font-size: 1rem;
    font-weight: 700;
    color: global-styles.$title-color;
    text-align: start;
    margin: 0;
    max-width: 70%;
    margin-bottom: 20px;

    @media (min-width: 350px) {
      font-size: 1.2rem;
    }

    @media (min-width: 550px) {
      font-size: 1.5rem;
    }

    @media (min-width: 800px) {
      font-size: 1.8rem;
    }

    @media (min-width: 1000px) {
      font-size: 1.3rem;
    }

    @media (min-width: 1200px) {
      font-size: 1.8rem;
    }
   }

  a{
    text-decoration: none;
    color: global-styles.$primary-color;
    padding: 12px 16px;
    border: 1px solid global-styles.$primary-color;
    border-radius: 5px;
    transition: background-color 0.3s;

    &:hover{
      background-color: global-styles.$primary-color-hover;
    }

    @media (min-width: 800px) {
      font-size: 1.2rem;
    }
  }
}

.intro-text {
    font-size: 0.7rem;
    color: #cccccc;
    margin-bottom: 5px;

    @media (min-width: 420px) {
      font-size: 0.8rem;
    }

    @media (min-width: 550px) {
      font-size: 0.9rem;
    }

    @media (min-width: 800px) {
      font-size: 1rem;
    }

    @media (min-width: 1000px) {
      font-size: 0.7rem;
    }

    @media (min-width: 1100px) {
      font-size: 0.9rem;
    }
  }

  .intro-text-Cyber{
    font-size: 1.1rem;
    color: #cccccc;
    margin-bottom: 5px;
  }
  
  .section-title-Cyber{
      font-size: 2rem;
    font-weight: bold;
    margin: 0;
    line-height: 1.3;
    background: linear-gradient(to right, global-styles.$primary-color, darken(global-styles.$primary-color, 15%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (min-width: 1100px) {
      font-size: 2.2rem;
      
    }

    @media (min-width: 1500px) {
      font-size: 2.5rem;
      
    }
  }

  .section-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0;
    line-height: 1.3;
    background: linear-gradient(to right, global-styles.$primary-color, darken(global-styles.$primary-color, 15%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (min-width: 420px) {
      font-size: 1.3rem;
    }

    @media (min-width: 550px) {
      font-size: 1.9rem;
    }

    @media (min-width: 800px) {
      font-size: 2.2rem;
    }

    @media (min-width: 1000px) {
      font-size: 1.3rem;
    }

    @media (min-width: 1100px) {
      font-size: 1.9rem;
    }
  }

  .tech-stack-grid{
    max-height: 100%;
    display: flex;
    justify-content: flex-end;
    max-width: 60%;
    position: relative;
    overflow: hidden; /* Sicherstellen, dass die Animation nicht über den Container hinausragt */

    @media (min-width: 370px) {
      max-width: 50%;
    }

    @media (min-width: 700px) {
      width: 30%;
    }

    @media (min-width: 700px) {
      width: 600%;
    }

    @media (min-width: 1000px) {
      width: 100%;
      max-width: 100%;
    }

    @media (min-width: 1100px) {
      max-width: 50%;
    }

    div{
        margin-left: 5px;
    }

    .tech-card{
        border: 1px solid global-styles.$box-border-color;
        background-color: global-styles.$box-background-color-opacity;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 10px;
        padding: 1rem;
        height: 5vh;
        width: 5vh;

        @media (min-width: 600px) {
        height: 5vh;
        width: 5vh;
      }
    }

    img{
        height: 5vh;
        width: 5vh;
        object-fit: cover;
    }
  }

  .tech-stack-content{
    margin-left: 10px;
    width: 40%;
    
        
    @media (min-width: 370px) {
      width: 40%;
    }

    @media (min-width: 700px) {
      margin-left: 50px;
    }

    @media (min-width: 850px) {
      margin-left: 70px;
    }

    @media (min-width: 1000px) {
      margin-left: 10px;
    }

    @media (min-width: 1500px) {
      margin-left: 50px;
    }
  }

.first-tech-stack, .secound-tech-stack {
  display: flex;
  flex-direction: column;
  // Performance-Optimierung: Dem Browser mitteilen, dass sich die Transformation ändern wird
  will-change: transform;
}

.first-tech-stack {
  animation: scrollLoop 20s linear infinite;
}

.secound-tech-stack {
  animation: scrollLoopReverse 20s linear infinite;
}

// **Wichtige Änderungen hier:**
// Die -50% sorgt dafür, dass die Animation genau die Höhe eines *einzigen* Satzes der duplizierten Elemente scrollt.
// Da du jedes Array verdoppelt hast (Array + Array-Kopie), ist -50% der Gesamthöhe des Elements
// der Punkt, an dem der zweite Satz nahtlos den ersten ersetzt.
@keyframes scrollLoop {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-54vh - 16px)); // -1px für den Abstand zwischen den Elementen
  }
}

@keyframes scrollLoopReverse {
  // Startet die umgekehrte Animation von der Mitte des duplizierten Satzes
  0% {
    transform: translateY(calc(-54vh - 16px));
  }
  100% {
    transform: translateY(0);
  }
}

.links-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.3rem;
  padding-left: 10px;

    @media (min-width: 1000px) {
      width: 38vw;
      margin-right: 0;
      margin-bottom: 10px;
      margin-top: 10px;
      margin-left: 10px;
    }


}

.code-links {
  font-size: 0.8rem;
  .Reserved {
    color: global-styles.$primary-color;
    padding-right: 5px;
  }

  .name{
    color: rgb(67, 217, 173);
    padding-right: 5px;
  }

  .operator {
    color: global-styles.$title-color;
    padding-right: 5px;
  }

  a{
    color: rgb(233, 146, 135);
    text-decoration: none;
  }

  @media (min-width: 500px) {
    font-size: 1rem;

  }

  @media (min-width: 700px) {
    margin-left: 50px;
  }

  @media (min-width: 850px) {
    margin-left: 70px;
  }

  @media (min-width: 1000px) {
    margin-left: 0px;
      font-size: 1rem;
  }

  @media (min-width: 1300px) {
    margin-left: 20px;
    font-size: 1.2rem;
  }
}

.desktop-container{
  display: none;

  @media (min-width: 1000px) {
    display: flex;
    flex-direction: column;
  }
}

.first-row{
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.second-row{
  display: flex;
  width: 100%;
}