<div class="flex-column">
    <div class="about-container">
        <div class="main-content">
            <h1>Focused on clarity, performance, and user experience.</h1>
        </div>
        <div class="cv-content">
            <h2>Here's My CV for You</h2>
            <a href="assets/CV/CV-Stefan_Horning.pdf" download target="_blank">Download</a>
        </div>
        <div class="technologies-content">
            <div class="tech-stack-content">
                <p class="intro-text">I constantly try to improve</p>
                <h2 class="section-title">My tech stack</h2>
            </div>

            <div class="tech-stack-grid">
                <div class="first-tech-stack">
                    <ng-container *ngFor="let tech of technologies1.concat(technologies1)">
                    <div class="tech-card">
                        <img 
                            src="/assets/icons/{{ tech }}.svg" 
                            alt="{{ tech }} logo"
                            [ngStyle]="tech === 'tailwindcss' ? {'object-fit': 'fill'} : {}" 
                        />
                    </div>
                    </ng-container>
                </div>
                <div class="secound-tech-stack">
                    <ng-container *ngFor="let tech of technologies2.concat(technologies2)">
                    <div class="tech-card">
                        <img 
                            src="/assets/icons/{{ tech }}.svg" 
                            alt="{{ tech }} logo"
                            [ngStyle]="tech === 'tailwindcss' ? {'object-fit': 'fill'} : {}" 
                        />
                    </div>
                    </ng-container>
                </div>
            </div>

        </div>

                <div class="future-content">
            <div class="tech-stack-content">
                <p class="intro-text">I am currently focused on</p>
                <h2 class="section-title">Cybersecurity</h2>
            </div>
            <img src="/assets/background/cybersecurityhacker-01.png" alt="">
        </div>
            <div class="contact-content">
            <h2>Ready to Start?</h2>
            <a href="#">Contact Me</a>
        </div>
        <div class="links-content">
            <a target="_blank" href="https://github.com/Stefan-Horning"><img src="assets/icons/github.svg" alt="GitHub"></a>
            <a target="_blank" href="mailto:stefanhorning@icloud.com"><img src="assets/icons/email.svg" alt="E-Mail"></a>
            <a target="_blank" href="https://www.linkedin.com/in/stefan-henry-horning/"><img src="assets/icons/linkedin.svg" alt="LinkedIn"></a>

        </div>
        

    </div>
</div>