@use '../../../styles.scss' as global-styles;

.overdiv{
    @include global-styles.flex(center, center, column);
    width: 100%;
}

.contact-header{
    text-align: center;

    h1{
        font-size: 2rem;
        font-weight: 700;
        margin: 0;
        background: linear-gradient(to right, global-styles.$primary-color, darken(global-styles.$primary-color, 15%));
        -webkit-background-clip: text;
        background-clip: text; 
        -webkit-text-fill-color: transparent;
    }
    margin-bottom: 20px;
}

.form-overdiv{
    width: 100%;
}


form {
    background: global-styles.$box-background-color;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(global-styles.$primary-color, 0.1);
    border: 1px solid global-styles.$box-border-color;
    padding: 20px;
    margin: 20px;

    .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;

        label {
            font-weight: 600;
            margin-bottom: 0.5rem;
            color: global-styles.$primary-color;
        }

        input,
        textarea {
            padding: 0.75rem;
            border: 1px solid lighten(global-styles.$primary-color, 40%);
            border-radius: 5px;
            font-size: 1rem;
            background: global-styles.$box-background-color;
            color: global-styles.$subtitle-color;
            transition: border-color 0.2s;

            &:focus {
                border-color: global-styles.$primary-color;
                outline: none;
            }
        }
    }

    .privacy-checkbox{
        display: block;
        margin-bottom: 1.5rem;
        align-items: center;

        input {
            margin-right: 0.5rem;
        }

        a{
            color: global-styles.$primary-color;
            font-weight: 600;

            &:hover {
                text-decoration: underline;
            }
        }

        label {
            font-size: 0.8rem;
            font-weight: 600;
            color: global-styles.$subtitle-color;
        }
    }

    button[type="submit"] {
        padding: 0.75rem 2rem;
        background: global-styles.$primary-color;
        color: #fff;
        border: none;
        border-radius: 5px;
        display: block;
        margin: 0 auto;
        font-size: 1rem;
        font-weight: 700;
        cursor: pointer;
        transition: background 0.2s;

        &:hover {
            background: darken(global-styles.$primary-color, 10%);
        }
    }
}