@use '../../../styles.scss' as global-styles;

.flex-between {
  @include global-styles.flex(center, center, row);
  position: relative;
  z-index: 100;
  width: 100%;
  transition: justify-content 0.6s ease-in-out;
}

.box {
  margin-top: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px 30px;
  gap: 20px;
  width: min-content;
  border: 2px solid global-styles.$box-border-color;
  background-color: global-styles.$box-background-color;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  transform: translateY(-200%);
  opacity: 0;
  pointer-events: none;
  position: relative;

  a {
    font-size: 0.7rem;
    position: relative;
    display: inline-block;
    font-family: sans-serif;
    cursor: pointer;
    color: global-styles.$subtitle-color;
    text-decoration: none;
    padding: 12px 0;
    white-space: nowrap;

    @media (min-width: 500px) {
      font-size: 0.9rem;
    }

      @media (min-width: 700px) {
      font-size: 1rem;
      &:last-child {
        padding-right: 0 !important;
      }
    }

    @media (min-width: 1000px) {
      font-size: 1.1rem;
    }
  }

  &.open {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
    transition-delay: 0.3s;
  }

  &.close {
    transform: translateY(-200%);
    opacity: 0;
    pointer-events: none;
    transition-delay: 0s;
  }
}

.burger-div {
  position: absolute;
  right: 10px;
  top: 0px;
  z-index: 1000;
  padding: 20px;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  transform: translateX(0);
  opacity: 1;
  pointer-events: all;

  &.hide {
    transform: translateX(150%);
    opacity: 0;
    pointer-events: none;
    transition-delay: 0s;
  }

  @media (min-width: 900px) {
    top:10px;
    right: 20px;
  }
}

.burger {
  cursor: pointer;
      user-select: none;          /* verhindert Textmarkierung */
  -webkit-user-select: none;  /* Safari/ältere Chromium‑Versionen */
  -ms-user-select: none;  
  span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: global-styles.$subtitle-color;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
      user-select: none;          /* verhindert Textmarkierung */
  -webkit-user-select: none;  /* Safari/ältere Chromium‑Versionen */
  -ms-user-select: none;  

  @media (min-width: 900px) {
      width: 40px;
      height: 3px;
      margin-bottom: 7px;
    }

      @media (min-width: 1200px) {
      width: 50px;
      height: 3px;
      margin-bottom: 10px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
.close-button {
  // position: absolute;
  // top: 15px;
  // right: 15px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 2000;
  // top: 50%;

  span {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: global-styles.$subtitle-color;
    border-radius: 2px;
    transform-origin: center;
    transition: all 0.3s ease-in-out;
      user-select: none;          /* verhindert Textmarkierung */
  -webkit-user-select: none;  /* Safari/ältere Chromium‑Versionen */
  -ms-user-select: none;  

    &:first-child {
      transform: rotate(45deg);
    }

    &:last-child {
      transform: rotate(-45deg);
    }
  }
}