@use '../../../styles.scss' as global-styles;

.overdiv{
    @include global-styles.flex(center, center, column);
    width: 100%;
}

.experience-header{
    text-align: center;
    
    h1{
        font-size: 2rem;
        font-weight: 700;
        margin: 0;
     color: global-styles.$subtitle-color;

     @media (min-width: 700px) {
         font-size: 2.5rem;

     }
    }

    span{
        background: linear-gradient(to right, global-styles.$primary-color, darken(global-styles.$primary-color, 15%));
        -webkit-background-clip: text;
        background-clip: text; 
        -webkit-text-fill-color: transparent;
    }
    margin-bottom: 20px;
}

.experience-overdiv{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;

    @media (min-width: 1000px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.experience-box{
    border: 1px solid global-styles.$box-border-color;
    background-color: global-styles.$box-background-color;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    text-align: start;

    @media (min-width: 1000px) {
        width: 40%;
        min-height: 300px;
        margin: 10px;
    }

    .image-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: space-between;
        max-height: 100px;
        margin-bottom: 20px;

        img{
            max-width: 50%;
            max-height: 60px;
            object-fit: cover;
        }
    }

    h2{
        font-size: 1.5rem;
        font-weight: 600;
        margin: 10px 0;
        color: global-styles.$subtitle-color;
    }

    h3{
        font-size: 1.2rem;
        font-weight: 500;
        margin: 5px 0;
        background: linear-gradient(to right, global-styles.$primary-color, darken(global-styles.$primary-color, 15%));
        -webkit-background-clip: text;
        background-clip: text; 
        -webkit-text-fill-color: transparent;
    }

    span{
        font-size: 0.8rem;
        font-weight: 400;
        color: global-styles.$subtitle-color;
    }

    p{
        font-size: 0.8rem;
        color: global-styles.$subtitle-color;
        margin: 5px 0;
        @media (min-width: 1500px) {
            font-size: 1rem;
        }
    }
}