<div class="projects-container">
    <div class="headline">
        <h1 class="first">A small selection of</h1>
        <h1 class="second">recent projects</h1>
    </div>
    <div class="project-overdiv">
        <div style="padding: 20px;"> 
            <div class="project-card">
            <img src="/assets/background/DABubble.png" alt="Project 1">
            <h2>Project 1</h2>
            <p>Short description of Project 1.</p>
            <div>
                <div>
                    icons
                </div>
                <div>
                    links
                </div>
            </div>
            </div>
        </div>
        
</div>